
.top-card {
    background-color: #894bca;
    color: #ffffff;
    font-size: 5px;
    height: 40vh;
    width: 100%;
    padding: 20px;
}

.image-1 {
    height: 200px;
    width: 350px;
    text-align: right;
}

.image-2 {
    height: 50px;
    width: 50px;

}

.heading {
    font-size: 20px;
}

.bottom-cont {
    height: 60vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 20px;
    width: 100vh;
    background-origin: padding-box;
    
}

.sub-heading {
    color: #f780c3;
    font-weight: bold;
    font-size: 20px;
}

.product-container {
    padding: 15px;
}

.content {
    padding-left: 20px;
}

.side-heading {
    color: #323f4b;
    font-size: 20px;
}

.product-desc {
    color: #7b8794;
}